.body{
    background-color: rgba(243, 215, 124, 0.431);
}
h1,.searchArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#searchInput{
    padding-left: 40px;
    padding-right:40px ;
    border-radius: 10px;
   

}
div #searchButton{
    margin: 8px;
    background-color: rgb(230, 123, 52);
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    padding-left: 40px;
    padding-right: 40px;
}
#searchButton:hover{
    background:linear-gradient(red,orange);
}

span{
    color: rgb(235, 57, 57);
}